* {
    box-sizing: border-box;
}

.error404{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}
.error-msg{
    color: blueviolet;
}

.error404 img{
    width: 800px;
}
