<header>
    <h1>Home - Productos</h1>
</header>

<main>
    <section>
        <h3>Productos</h3>
        <div>
            <ul id="products-list">

            </ul>
        </div>
        <div id="pagination-controls">
            <button id="prev-page" disabled>Anterior</button>
            <span id="page-info"></span>
            <button id="next-page">Siguiente</button>
            <button id="clear-carrito">Limpiar Carrito</button>
        </div>
        <a href="#" id="carritoSpec">Ir a Carrito Actual</a>
    </section>
    <section>
        <h3>Detalles de Productos</h3>
        <div id="details-prods">
        </div>
    </section>
        
</main>

<script src="/api/public/js/products2.js"></script>